# .gitignore

# Temporary development/testing files
scratch.py
src/config.py
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# IDE
.idea/
.vscode/
*.iml

# Data products and figures
*.pkl
*.npy
*.parquet
*.png
*.pdf
*.docx
data/
outputs/
plots/